.display{
    font-family: 'Lato', sans-serif;
    background-color: #FAF7F2;
    margin: 10px;
    margin-left: 300px;
    width: 600px;
    height:400px;
}
.card-label
{
    padding: 3px;
    text-transform  : uppercase;
    font-size: small;
    background-color: red;
    color: whitesmoke;
    border-radius: 2px;
}
.card-category
{
    padding-top: 10px;
    background-color: royalblue;
    color: aliceblue;
}
img{
    width: 500px;
    height: 400px;
}